<a class="player"
   style="display:block;width:425px;height:300px;margin:10px auto"
   id="player"></a>

<div class="playlist_wrap">
  <a class="prev"></a>

  <div id="pl">
    <div class="entries"></div>
  </div>

  <a class="next"></a>
</div>